<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
    
   <%= render 'layouts/flash_messages' %>
    
   <h1>サンプル新規作成ページ</h1>
   <%= render 'form', task: @task %>
  </div>
</div>
  
